@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*{md,yml}";

@theme static {
  --font-sans: "Finlandica", "sans-serif";
  --font-display: "Arima Madurai", "display";
  --font-mono: "Chivo Mono", "mono";
  --font-hand: "Caveat", "handwriting";
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
}
